@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
.container {
    width: 1100px;
    margin: 0 auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Nunito', sans-serif;
}
.row > .col-1 {width: calc(100%/12);}
.row > .col-2 {width: calc(100%/6);}
.row > .col-3 {width: calc(100%/4);}
.row > .col-4 {width: calc(100%/3);}
.row > .col-5 {width: calc(100%/2.4);}
.row > .col-6 {width: calc(100%/2);}
.row > .col-7 {width: calc(100%/1.714285714285714);}
.row > .col-8 {width: calc(100%/1.5);}
.row > .col-9 {width: calc(100%/1.333333333333333);}
.row > .col-10 {width: calc(100%/1.2);}
.row > .col-11 {width: calc(100%/1.090909090909091);}
.row > .col-12 {width: calc(100%/1);}
@media (max-width: 1024px) {
    .row > .col-lap-1 {width: calc(100%/12);}
    .row > .col-lap-2 {width: calc(100%/6);}
    .row > .col-lap-3 {width: calc(100%/4);}
    .row > .col-lap-4 {width: calc(100%/3);}
    .row > .col-lap-5 {width: calc(100%/2.4);}
    .row > .col-lap-6 {width: calc(100%/2);}
    .row > .col-lap-7 {width: calc(100%/1.714285714285714);}
    .row > .col-lap-8 {width: calc(100%/1.5);}
    .row > .col-lap-9 {width: calc(100%/1.333333333333333);}
    .row > .col-lap-10 {width: calc(100%/1.2);}
    .row > .col-lap-11 {width: calc(100%/1.090909090909091);}
    .row > .col-lap-12 {width: calc(100%/1);}
    .w-lap-100 {width: 100%;}
}

@media (max-width: 768px) {
    .row > .col-tab-1 {width: calc(100%/12);}
    .row > .col-tab-2 {width: calc(100%/6);}
    .row > .col-tab-3 {width: calc(100%/4);}
    .row > .col-tab-4 {width: calc(100%/3);}
    .row > .col-tab-5 {width: calc(100%/2.4);}
    .row > .col-tab-6 {width: calc(100%/2);}
    .row > .col-tab-7 {width: calc(100%/1.714285714285714);}
    .row > .col-tab-8 {width: calc(100%/1.5);}
    .row > .col-tab-9 {width: calc(100%/1.333333333333333);}
    .row > .col-tab-10 {width: calc(100%/1.2);}
    .row > .col-tab-11 {width: calc(100%/1.090909090909091);}
    .row > .col-tab-12 {width: calc(100%/1);}
}
@media (max-width: 480px) {
    .row > .col-mob-1 {width: calc(100%/12);}
    .row > .col-mob-2 {width: calc(100%/6);}
    .row > .col-mob-3 {width: calc(100%/4);}
    .row > .col-mob-4 {width: calc(100%/3);}
    .row > .col-mob-5 {width: calc(100%/2.4);}
    .row > .col-mob-6 {width: calc(100%/2);}
    .row > .col-mob-7 {width: calc(100%/1.714285714285714);}
    .row > .col-mob-8 {width: calc(100%/1.5);}
    .row > .col-mob-9 {width: calc(100%/1.333333333333333);}
    .row > .col-mob-10 {width: calc(100%/1.2);}
    .row > .col-mob-11 {width: calc(100%/1.090909090909091);}
    .row > .col-mob-12 {width: calc(100%/1);}
}
.w-50{width: 50%;}
.p-1{padding: .5rem;}
.p-2{padding: 1rem;}
.p-3{padding: 1.5rem;}
.p-4{padding: 2rem;}
a{text-decoration: none; }
.text-center{text-align: center;}
.text-right {text-align: end;}
.text-uppercase{text-transform: uppercase;}
.text-capitalize{ text-transform: capitalize;}
.space-between { display: flex; justify-content: space-between;}
img {max-width: 100%;}
.align-stretch{display: flex; align-items: stretch;}
.align-center{display: flex; align-items: center;}
.direction-column {display: flex; align-items: center; flex-direction: column;}
.content-center{justify-content: center;}
li{list-style: none;}
.w-20 { width: 20%;}
.flex-end { display: flex; align-items: end;}
.inline-block { display: inline-block;}
.gap{display: flex; gap: 1.5rem;}
.content-end { display: flex; justify-content: flex-end;}